<h1> Hi </h1>
<h2> Party Name: {{party.name}} </h2>
<br>
{{party.status}}
<a href = "{% url 'party_participant_create' party.id %}"> Invite a persons </a>

<h2> People Parcipating: </h2>
{% for p in participants %}
  {{p.user}}<br>
{% endfor %}

<form action="{% url 'party_exchange' party.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Submit" />
</form>

<h2> Exchanges: </h2>
{% for e in exchanges %}
  <li> {{e.giver.user}} to {{e.receiver.user}}</li><br>
{% endfor %}


<h1> Invite a person </h1>

<form action="{% url 'party_participant_create' party.id %}" method="post">
    {% csrf_token %}
    {% for user in users %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ user.username }}</label><br />
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
