{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />

{% include "header.html" %}


<h2> Party Name: {{party.name}} </h2>
<br>


{% if admin %}
  <div class ="party_admin_nav">
    {{party.status}}
    <a href = "{% url 'party_participant_create' party.id %}"> Invite a persons </a>
    <a href = "{% url 'party_delete' party.id %}"> Delete </a>
    {% if not exchanges %}
      <form action="{% url 'party_exchange' party.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Create Exchange" />
      </form>
    {% else %}
      <h2> Exchanges: </h2>
      {% for e in exchanges %}
        <li> {{e.giver.user}} to {{e.receiver.user}}</li><br>
      {% endfor %}
    {% endif %}
  </div>
{% else %}
  <form action="{% url 'party_participant_edit' party.id %}" method="post">
    {% csrf_token %}
    <button type="submit", name="join" value="Join Exchange">button</button>
    <button type="submit", name="left" value="Leave Exchange">seoncds</button>
  </form>
{% endif %}

  <h2> People Parcipating: </h2>
  {% for p in participants %}
    {{p.user}}
    {{p.status}}<br>
  {% endfor %}


{% if your_exchange %}
  <h1> Your match</h1>
  {{your_exchange.receiver.user}}
{% endif %}

<form action="{% url 'party_view' party.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
</form>

<!-- <h1> Invite a person </h1>

<form action="{% url 'party_participant_create' party.id %}" method="post">
    {% csrf_token %}
    {% for user in users %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ user.username }}</label><br />
    {% endfor %}
    <input type="submit" value="Submit" />
</form> -->
